@import "variables";
@import "mixins";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  font-family: rh-text-tr, sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 228px;
  height: 59px;
  background: $main-color;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
  transition: background-color 0.25s ease-out;
  &-arrow {
    gap: 10px;
  }
  &:hover, :focus {
    background-color: $accent;
    transition: 0.25s ease-out;
  }
}