@font-face { src: url("../fonts/aleo-v11-latin-regular.woff2") format("woff2"); font-family: "aleo-tr"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/aleo-v11-latin-italic.woff2") format("woff2"); font-family: "aleo-tr"; font-weight: 400; font-style: italic; }
@font-face { src: url("../fonts/aleo-v11-latin-700.woff2") format("woff2"); font-family: "aleo-tr"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/aleo-v11-latin-700italic.woff2") format("woff2"); font-family: "aleo-tr"; font-weight: 700; font-style: italic; }


@font-face { src: url("../fonts/red-hat-text-v11-latin-regular.woff2") format("woff2"); font-family: "rh-text-tr"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/red-hat-text-v11-latin-500.woff2") format("woff2"); font-family: "rh-text-tr"; font-weight: 500; font-style: normal; }

@font-face { src: url("../fonts/magra-v14-latin-700.woff2") format("woff2"); font-family: "magra-tr"; font-weight: 700; font-style: normal; }

@font-face { src: url("../fonts/sf-pro-text-semibold.woff2") format("woff2"); font-family: "sf-pro-tr"; font-weight: 600; font-style: normal; }

