@import "variables";
@import "mixins";
@import "button";
@import "fonts";

.header {
  height: 765px;
  background-image: url(../img/desktop/bg-lg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: aleo-tr, sans-serif;
  color: #fff;
  background-color: rgba($accent, $opacity);
  width: 100vw;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
  &__container {
    display: flex;
    align-items: center;
    align-content: center;
    height: 90px;
  }
  &__logo {
    font-family: magra-tr, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    gap: 6px;
    margin-right: 158px;
    & a {
      color: #fff;
    }
  }
  &__menu {
    font-family: rh-text-tr, sans-serif;
    font-weight: 500;
    & ul {
      padding: 0;
      display: flex;
      align-content: center;
      gap: 42px;
    }
    & li, a {
      color: #fff;
      list-style: none;
      text-decoration: none;
    }
  }
  &__button {
    margin-left: 196px;
    font-size: 16px;
    width: 103px;
    height: 41px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
  }
}

.preview {
  display: flex;
  color: #fff;
  &__container {
    padding-top: 121px;
    max-width: 892px;
  }
  &__title {
    margin: 0;
    font-family: aleo-tr, sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
  }
  &__oneliner {
    margin: 33px 0 46px;
    font-family: aleo-tr, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  &__form {
    display:flex;
    flex-direction:row;
    width: 100%;
    background: rgba(255, 255, 255, $opacity);
    border-radius: $radius;
  }
  &__input {
    flex-grow:2;
    border:none;
    color: $accent;
    background: transparent;
    font-family: aleo-tr, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    &::placeholder {
      color: $accent;
      padding: 33px 293px 41px 41px;
    }
    &:focus {
      outline: none;
    }
  }
  &__button {
    margin: 18px;
  }
}