@import "normalize.css";
@import "card.css";
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  font-family: rh-text-tr, sans-serif;
  font-weight: 500;
  font-size: 24px;
  width: 228px;
  height: 59px;
  background: #0d606f;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
  transition: background-color 0.25s ease-out;
}
.button-arrow {
  gap: 10px;
}
.button:hover, .button :focus {
  background-color: #f2785c;
  transition: 0.25s ease-out;
}

@font-face {
  src: url("../fonts/aleo-v11-latin-regular.woff2") format("woff2");
  font-family: "aleo-tr";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/aleo-v11-latin-italic.woff2") format("woff2");
  font-family: "aleo-tr";
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url("../fonts/aleo-v11-latin-700.woff2") format("woff2");
  font-family: "aleo-tr";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("../fonts/aleo-v11-latin-700italic.woff2") format("woff2");
  font-family: "aleo-tr";
  font-weight: 700;
  font-style: italic;
}
@font-face {
  src: url("../fonts/red-hat-text-v11-latin-regular.woff2") format("woff2");
  font-family: "rh-text-tr";
  font-weight: 400;
  font-style: normal;
}
@font-face {
  src: url("../fonts/red-hat-text-v11-latin-500.woff2") format("woff2");
  font-family: "rh-text-tr";
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url("../fonts/magra-v14-latin-700.woff2") format("woff2");
  font-family: "magra-tr";
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url("../fonts/sf-pro-text-semibold.woff2") format("woff2");
  font-family: "sf-pro-tr";
  font-weight: 600;
  font-style: normal;
}
.header {
  height: 765px;
  background-image: url(../img/desktop/bg-lg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: aleo-tr, sans-serif;
  color: #fff;
  background-color: rgba(242, 120, 92, 0.7);
  width: 100vw;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
}
.navbar__container {
  display: flex;
  align-items: center;
  align-content: center;
  height: 90px;
}
.navbar__logo {
  font-family: magra-tr, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  gap: 6px;
  margin-right: 158px;
}
.navbar__logo a {
  color: #fff;
}
.navbar__menu {
  font-family: rh-text-tr, sans-serif;
  font-weight: 500;
}
.navbar__menu ul {
  padding: 0;
  display: flex;
  align-content: center;
  gap: 42px;
}
.navbar__menu li, .navbar__menu a {
  color: #fff;
  list-style: none;
  text-decoration: none;
}
.navbar__button {
  margin-left: 196px;
  font-size: 16px;
  width: 103px;
  height: 41px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
}

.preview {
  display: flex;
  color: #fff;
}
.preview__container {
  padding-top: 121px;
  max-width: 892px;
}
.preview__title {
  margin: 0;
  font-family: aleo-tr, sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
}
.preview__oneliner {
  margin: 33px 0 46px;
  font-family: aleo-tr, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.preview__form {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.preview__input {
  flex-grow: 2;
  border: none;
  color: #f2785c;
  background: transparent;
  font-family: aleo-tr, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.preview__input::placeholder {
  color: #f2785c;
  padding: 33px 293px 41px 41px;
}
.preview__input:focus {
  outline: none;
}
.preview__button {
  margin: 18px;
}

.section__title {
  text-align: center;
  color: #f2785c;
  text-transform: uppercase;
  font-family: rh-text-tr, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
}

main {
  color: #0d606f;
}

.steps {
  padding: 0 131px;
}
.steps__body {
  display: flex;
  justify-content: space-between;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.step__icon-wrapper {
  background: #f2785c;
  border-radius: 16px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step__text {
  font-family: aleo-tr, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destinations__images {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 60px;
}
.destinations__img {
  margin: 0;
}
.destinations__img img {
  border-radius: 16px;
}
.destinations__img-caption {
  position: relative;
  left: 15px;
  top: -88px;
  color: #fff;
  font-family: rh-text-tr, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
}
.destinations__pagination {
  margin: 24px 0 40px;
}

.spain {
  position: absolute;
  left: -540px;
  z-index: -2;
}

.usa {
  position: absolute;
  top: 1160px;
  right: -540px;
  z-index: -2;
}

.stories-footer-wrapper {
  margin: 0 auto;
  width: 1440px;
  background-image: url(../img/desktop/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 90px;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
}

.cards__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.cards__container a {
  margin: 40px 0 41px;
}

.footer {
  color: #fff;
  display: flex;
  align-items: center;
  height: 61px;
  width: 100%;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  font-family: rh-text-tr, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.footer__contacts {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.footer__contacts i {
  font-size: 24px;
}
.footer__contacts a {
  font-family: aleo-tr, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}
.footer__contacts a:hover, .footer__contacts a :focus {
  color: #f2785c;
  fill: #f2785c;
  transition: color 0.3s ease-in-out;
}
.footer__soc {
  display: flex;
}
.footer__soc__list {
  display: flex;
  gap: 20px;
}
.footer__soc a {
  width: 33.65px;
  height: 33.65px;
  transition: fill 0.3s ease-in-out;
}
.footer__soc a :hover, .footer__soc a :focus {
  fill: #f2785c;
  transition: fill 0.3s ease-in-out;
}
.footer__soc svg {
  width: 33.65px;
  height: 33.65px;
}
.footer li {
  list-style: none;
}

.rsschool path, .soc__svg {
  transition: fill 0.3s ease-in-out;
}

.rsschool:hover path {
  fill: #f2785c;
  transition: fill 0.3s ease-in-out;
}

.soc__svg {
  transition: fill 0.3s ease-in-out;
}

.soc_svg:hover path {
  fill: #f2785c;
  transition: fill 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

body {
  background: #fff;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
