@import "variables";
@import "mixins";

.section__title {
  color: $accent;
  text-transform: uppercase;
  font-family: rh-text-tr, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
}

main {
  color: $main-color;
}

.steps {
  text-align: center;
  background-color: antiquewhite;
  padding: 0 131px;
  &__body {
    display: flex;
    justify-content: space-between;
  }
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  gap: 30px;
  &__icon {
    background: $accent;
    border-radius: $radius;
  }
  &__text {
    font-family: aleo-tr, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
}