@import "variables";
@import "mixins";

.section__title {
  color: $accent;
  text-transform: uppercase;
  font-family: rh-text-tr, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
}

main {
  color: $main-color;
}

.steps {

}